{% extends "header.html" %}

{% block title %}Home{% endblock title %}

{% block body %}



<div class="modal fade lug" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li><a href="#"><img src="images/flag-up-1.png" alt="" /> United States</a></li>
                    <li><a href="#"><img src="images/flag-up-2.png" alt="" /> France </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="sidebar" class="top-nav">
    <ul id="sidebar-nav" class="sidebar-nav">
        <li><a href="#">Help</a></li>
        <li><a href="howitworks.html">How it works</a></li>
        <li><a href="#">chamb for Business</a></li>
    </ul>
</div>
<div class="page-content-product">
    <div class="main-product">
        <div class="container">

            <div class="row clearfix">
                <div class="container">
                    <div class="find-box">
                        <div class="col-sm-3">
                            <div class="form-sh"></div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-sh"> <a class="btn" style="background-color: #FFFF00; color: #131313" href="/product/create">Upload</a> </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-sh"> <a class="btn" style="background-color: #FFFF00; color: #131313" href="/kart">Basket</a> </div>
                        </div>

                    </div>
                </div>
                <div class="find-box">
                    <h1 style="margin-bottom: 30px; margin-top: -50px">Find your next <span style="color: #FFFF00">Laptop</span></h1>
                    <div class="product-sh">
                        <form action="/search" method="GET">
                            <div class="col-sm-6">
                                <div class="form-sh" style="width: 540px; margin-top: -20px; margin-left: 110px">
                                    <input type="text" autocomplete="off" name="productSearch" placeholder="Search">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-sh">
                                    <select class="selectpicker">
                                        <option>Textiles</option>
                                        <option>Furniture</option>
                                        <option>Leather</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-sm-3">

                                <button class="btn btn-secondary" style="margin-left: 20px; margin-top: -10px; background-color: white">
                                    <img src="https://img.icons8.com/ios/72/search--v1.png" style="width: 20px">
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                {% for product in products %}
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <a href="product/{{product[0]}}">
                        <div class="box-img">
                            <h4>{{ (product[2])[0:15] }}</h4>
                            <img src="{{product[5]}}" style="width: 250px; height: 220px;" alt="s" />
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>


        </div>
    </div>
</div>

{% endblock body %}